button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  border-radius: 8px;
  color: rgb(253, 253, 253);
  background-color: rgb(22, 22, 22);
}

button:hover {
  background-color: rgb(59, 59, 59);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(8, 91, 199);
}

.equals:hover {
  background-color: rgb(143, 138, 138);
}
