.screen {
  width: 100%;
  display: flex;
  height: 100px;
  padding: 0 10px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 16px;
  box-sizing: border-box;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  background-color: #0000002d;
}